body{
    background-color:#c7ecee;
}
.container{
    width: 500px;
    height: auto;
    margin: 100px auto;
    padding: 5px 20px 30px 20px;
    text-align: center;
    background-color: #7ed6df;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #1e272e;
}
.container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #1e272e;
}
.poll h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #1e272e;
}
.options{
    display: flex;
    flex-direction: column;
}
.option{
    margin: 15px 0px;
}
.option label{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
}
.option input[type="radio"]{
    display: none;
}
.option label:hover{
    background-color: #ff5e57;
}
.option label:active{
    background-color: #7ed6df;
    border: 1px solid;
}
.option input[type = "radio"]:checked + label{
    background-color: #ff5e57;
}
button{
    margin: 20px 0px;
    padding: 10px 20px;
    background-color: #ff5e57;
    border: none;
    border-radius: 20px;
}
button:hover{
    background-color: #ff5e57;
}
button:active{
    background-color: #7ed6df;
    border: 1px solid;
}
.option-result{
    display: flex;
    column-gap: 160px;
    background-color: #c7ecee;
    position: relative;
    padding: 20px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1e272e;
    border-radius: 5px;
}
.option-text{
    position: relative;
    left: 30px;
    
}
.parcentage{
    position: absolute;
    right: 30px;
}