body{
    background-color: #686de0;
}
.container{
    width: 300px;
    height: auto;
    padding: 10px 30px 50px 30px;
    margin: 100px auto;
    background-color: #dfe6e9;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.timer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #74b9ff;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.timer span{
    width: 70px;
    text-align: center;
}
.controls{
    margin: 20px 0px 0px 0px;
    text-align: center;
}
.controls button{
    padding: 10px 20px;
    margin: 0px 8px;
    border-radius: 5px;
    border: none;
    background-color: #d63031;
    color: #dfe6e9;
    text-transform: capitalize;
}
.controls button:active{
    background-color: #686de0;
}