*{
    margin: 0;
    padding: 0;
}
.container{
    width: 250px;
    height: auto;
    border: 2px solid;
    margin: 100px auto;
    border: 3px solid rgba(108, 92, 231,1.0);
    border-radius: 20px;
}
.card{
    text-align: center;
    background-color: rgba(116, 185, 255,1.0);
    padding: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    border-radius: 15px 15px 0px 0px;
}
.clock{
    text-align: center;
    padding: 20px 10px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(255, 234, 167,1.0);
    border-radius: 0px 0px 15px 15px;
}